# ─── Base de datos (Neon) ────────────────────────────────────────────────────
DATABASE_URL="postgresql://neondb_owner:npg_pHwZxK9QER4u@ep-misty-cell-abeqx7ni-pooler.eu-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# ─── NextAuth ────────────────────────────────────────────────────────────────
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="cambia-esto-por-un-secret-seguro-minimo-32-caracteres"

# ─── Admin ───────────────────────────────────────────────────────────────────
ADMIN_EMAIL="informatica@joyeriatequiero.com"
ADMIN_PASSWORD="12345678"

# ─── Email (Resend) ──────────────────────────────────────────────────────────
RESEND_API_KEY="re_xxxxxxxxxxxxxxxxxxxx"
EMAIL_FROM="facturas@tuempresa.com"

# ─── Datos de empresa ────────────────────────────────────────────────────────
COMPANY_NAME="Joyería Te Quiero S.L.U"
COMPANY_TAX_ID="B76597004"
COMPANY_ADDRESS="Av. Trinidad, 43, 38204 La Laguna, Santa Cruz de Tenerife"
COMPANY_PHONE="+34 922441213"
COMPANY_EMAIL="facturas@joyeriatequiero.com"
COMPANY_IBAN="ES00 0000 0000 00 0000000000"
